{
    "position": "bottom",
    "height": 24,
    "mode": "dock",
    "layer": "top",
    "fixed-center": true,
    "modules-left": ["clock", "hyprland/workspaces"],
    "modules-center": ["pulseaudio", "cava", "mpd", "custom/cerv#head" @@cerv_modules@@, "custom/cerv#tail"],
    "modules-right": ["custom/battery", "cpu", "memory", "network", "tray", "custom/notification"],
    "custom/notification": {
        "tooltip": false,
        "format": "{} {icon}",
        "format-icons": {
            "notification": "<span foreground='red'><sup></sup></span>",
            "none": "",
            "dnd-notification": "<span foreground='red'><sup></sup></span>",
            "dnd-none": "",
            "inhibited-notification": "<span foreground='red'><sup></sup></span>",
            "inhibited-none": "",
            "dnd-inhibited-notification": "<span foreground='red'><sup></sup></span>",
            "dnd-inhibited-none": ""
        },
        "return-type": "json",
        "exec-if": "which swaync-client",
        "exec": "swaync-client -swb",
        "on-click": "swaync-client -t -sw",
        "on-click-right": "swaync-client -d -sw",
        "escape": true
    },
    "hyprland/workspaces": {
        "format": "{icon} {windows}",
        "window-rewrite-default": "󰘔",
        "window-rewrite": {
            "firefox": "",
            "kitty": "",
            "discord": "󰙯",
            "neovide": ""
        },
        "format-window-separator": "",
        "format-icons": {
            "1": "1"
        },
        "persistent-workspaces": {
            "*": 1
        }
    },
    "mpd": {
        "format": "{title} - {artist}  {stateIcon}  {elapsedTime:%M:%S}/{totalTime:%M:%S}",
        "format-disconnected": "mpd offline",
        "format-stopped": "mpd stopped",
        "unknown-tag": "N/A",
        "interval": 2,
        "consume-icons": {
            "on": " "
        },
        "random-icons": {
//            "off": "<span color=\"#f53c3c\"></span> ",
            "on": " "
        },
        "repeat-icons": {
            "on": " "
        },
        "single-icons": {
            "on": "1 "
        },
        "state-icons": {
            "paused": "",
            "playing": ""
        },
        "tooltip-format": "mpd (connected)",
        "tooltip-format-disconnected": "mpd (disconnected)",
        "on-click": "mpc toggle",
        "on-click-right": "kitty sh -c ncmpcpp",
        "artist-len": 20,
        "title-len": 20
    },
    "custom/cerv#head": {
        "exec": "echo \\" 󰊨 cerv\\""
    },
    "custom/cerv#tail": {
        "exec": "echo \\"󰊨 \\""
    } @@cerv_configs@@,
    "tray": {
        // "icon-size": 21,
        "spacing": 10
    },
    "clock": {
        // "timezone": "America/New_York",
        "tooltip-format": "<big>{:%Y %B}</big>\n<tt><small>{calendar}</small></tt>",
        "interval": 1,
        "format": "{:%r %D}"
    },
    "cpu": {
        "format": "󰓅 {usage}%",
//        "tooltip": false
    },
    "memory": {
        "format": "󰆼 {}%"
    },
    "temperature": {
        "thermal-zone": 2,
        "hwmon-path": "/sys/class/hwmon/hwmon1/temp1_input",
        "critical-threshold": 80,
        "format-critical": "{icon} {temperatureC}°C",
        "format": "{icon} {temperatureC}°C",
        "format-icons": ["", "", ""]
    },
    "backlight": {
        // "device": "acpi_video1",
        "format": "{icon} {percent}%",
        "format-icons": ["", "", "", "", "", "", "", "", ""]
    },
    "custom/battery": {
        "exec": "~/.local/bin/battery-waybar",
        "return-type": "json",
        "interval": 60,
        "signal": 9
    },
    "network": {
        /* "format-linked": " {ifname} (No IP)", */
        "format-wifi": "{essid} ({signalStrength}%) 󰖩",
        "format-ethernet": "{ifname} 󰈀",
        "format-disconnected": "Disconnected 󰤮",
        "format-alt": "{ifname}: {ipaddr}/{cidr}",
        "tooltip-format": "{ifname} via {gwaddr}"
    },
    "pulseaudio": {
        // "scroll-step": 1, // %, can be a float
        "format": "{icon} {volume}%",
        "format-bluetooth": "{icon}  {volume}%",
        "format-bluetooth-muted": "󰖁 ",
        "format-muted": "󰖁",
        "format-source": " {volume}%",
        "format-source-muted": "",
        "format-icons": {
//            "headphone": "",
//            "hands-free": "",
//            "headset": "",
//            "phone": "",
//            "portable": "",
//            "car": "",
            "default": [
                "󰖀"
            ]
        },
        "on-click": "pavucontrol"
    },
    "cava": {
        "cava_config": "/home/mitch/.config/cava/config",
        "hide_on_silence": true,
        "bars": 12,
        "format-icons" : ["▁", "▂", "▃", "▄", "▅", "▆", "▇", "█" ],
        "sleep_timer": 5,
        "bar_delimiter": 0
    }
}
